<h1><span class="yellow">Dylan-Rest API</span></h1>
<h2><span class="mb-2">Hello <%= username %>, Your Apikey : <%= apikey %></span></h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>Api Name</h1></th>
			<th><h1>Status</h1></th>
			<th><h1>Parameter</h1></th>
			<th><h1>Information</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a style="color:#FB667A" href="/api/checkkey?apikey=<%= apikey %> " target="_blank">Check Apikey</a></td>
			<td><span style="color:green">Active</span></td>
			<td>apikey</td>
			<td>Check Limit Apikey</td>
		</tr>
		<tr>
			<td><a style="color:#FB667A" href="/api/ytmp3?url=https://youtu.be/fHI8X4OXluQ&apikey=<%= apikey %> " target="_blank">Youtube MP3</a></td>
			<td><span style="color:green">Active</span></td>
			<td>url & apikey</td>
			<td>Youtube Audio Downloader</td>
		</tr>
		<tr>
			<td><a style="color:#FB667A" href="/api/ytmp4?url=https://youtu.be/foE1mO2yM04&apikey=<%= apikey %> " target="_blank">Youtube MP4</a></td>
			<td><span style="color:green">Active</span></td>
			<td>url & apikey</td>
			<td>Youtube Video Downloader</td>
		</tr>
		<tr>
			<td><a style="color:#FB667A" href="/api/ytplay?query=alone&apikey=<%= apikey %> " target="_blank">Youtube Play</a></td>
			<td><span style="color:green">Active</span></td>
			<td>query & apikey</td>
			<td>Youtube Audio Downloader</td>
		</tr>
	</tbody>
</table>
